/*******************FONTS**************************/
@font-face { 
    font-family: OpenSBold;        
    src: url(/fonts/OpenSansBold/OpenSansBold.ttf); 
    font-weight: normal;            
    font-style: normal; 
}
@font-face { 
    font-family: OpenSItalic;        
    src: url(/fonts/OpenSansItalic/OpenSansItalic.ttf); 
    font-weight: normal;            
    font-style: normal; 
}
@font-face { 
    font-family: Regular;        
    src: url(/fonts/OpenSansRegular/OpenSansRegular.ttf); 
    font-weight: normal;            
    font-style: normal; 
}
@font-face { 
    font-family: GeorgiaBold;        
    src: url(/fonts/georgiab.ttf); 
    font-weight: normal;            
    font-style: normal; 
}

.GeB{
	font-family:"GeorgiaBold";
}
.OpenSRe{
	font-family:"Regular";
}

.OpenSBo{
	font-family:"OpenSBold";
}
.OpenSIt{
	font-family:"OpenSItalic";
}

/**************************************************/

/**************************************************/
a:hover, a:focus, a:visited, a:active{
	color: #000;
	border-radius: none;
	text-decoration: none;
	border:0px;
	padding: 0px;
}

/**************************************************/

header{
	background: url("/img/bg1.png") no-repeat;
	background-size: cover;
	//min-height: 980px;
	//width:1200px;
	.container{
		width:100%;//width:1200px;
		// background: url("/img/bg1.png") no-repeat;
		// background-size: cover;
		padding-bottom: 50px;
	}
	.navbar-nav{
		//position: relative;
		//left: 50%;
		float:none;
		text-align: center;
	}
	.navbar-nav>li{
		//left:-50%;
		float:none;
		text-align: center;
		display: inline-block;
	}
	.navbar-default{
		    margin-top: 15px;
		background: no-repeat;
    	border: none;
    	box-shadow: none;
	}
	.navbar-default .navbar-nav>li>a{
		.OpenSRe;
		font-size:18px;
		color:#fff;
		padding-left: 30px;
		padding-right: 30px;
		&:hover{
			// color:#fff;
		}
	}

	// .my_container{
	// 	margin-top:190px;
		.who{
			text-align: center;
			.info_header{
				p{
					.OpenSRe;
					font-size:18px;
					color:#fff;
				}
				h1{
					color:#fff;
					.GeB;
					font-size:60px;

				}
				.new_s{
					.GeB;
					font-size:33px;
					margin-bottom: 30px;
				}
				span{
					margin-top: 20px;
					color:#ebebeb;
					.OpenSRe;
					font-size:18px;
					span1{
						color:#b82026;

					}
				}

			}
		}
		.my_btn{
			margin: 0 auto;
    		text-align: center;
    		margin-top: 50px;
			.btn{
				text-align: center;
				padding:15px 35px;
				background-color: red;
				color:#fff;
				border-radius:50px;
				outline: 0 !important;
			}
		}
		.arrow{
			margin: 0 auto;
    		text-align: center;
    		margin-top: 50px;
		}
	}	
// }
main{
	background:#1b1b1b;
	.container{
		width:100%;//min-width:1200px;
		padding-left: 0px;
    	padding-right: 0px;
		.abaut_me{
			width:100%;//min-width:1200px;
			background:#1b1b1b;
			padding-left: 0;
			padding-right: 0;
			.row{
				width:100%;//width:1200px;
				margin-right: 0px;
    			margin-left: 0px;
				.col-md-12{
					padding-right: 0px;
    				padding-left: 0px;
					.col-md-6{
						padding-left: 50px;
						padding-right: 0;
						height:723px;
						width:50%;//min-width: 600px;
						h1{
							.GeB;
							font-size:45px;
							color:#fff;
						}
						p{
							.OpenSRe;
							font-size:18px;
							width:480px;
							color:#f5f5f5;
						}

					}
					.bgimg1{
						background:url("/img/boy1.png")no-repeat;
						background-size: cover;
						height:723px;
						width:50%;//min-width: 600px;
					}
					.bgim2{
						background:url("/img/boy2.1.png")no-repeat;
						background-size:cover;
						height:1100px;
						width:50%;//min-width: 600px;
					}
					.my_advantages{
						    padding-top: 25px;
						background:#fff;
						min-height:1100px;
						h1{
							.GeB;
							font-size:45px;
							color:#000;
						}
						p{
							width:100%;
							.OpenSRe;
							font-size:18px;
							color:#1b1b1b;
						}
						.small_table{
							margin-top: 50px;
							text-align: center;
							.left_b{
								display: inline-block;
    							margin-right: 180px;
    							span{
    								    margin-top: 30px;
									display:block;
    							}
							}
							.righ_b{
								display: inline-block;
								span{
									    margin-top: 30px;
									display:block;
    							}
							}
						}
						.second{
							margin-top: 50px;
						}
						.questions{
							text-align: center;
    						margin-top: 150px;
    						span{
    							display:block;
    							.OpenSRe;
    							font-size:24px;
    							span2{
    								color:#b82026;
    							}
    						}
    						.btn{
    							margin-top: 25px;
								text-align: center;
								padding:15px 35px;
								background-color: red;
								color:#fff;
								border-radius:50px;
								outline: 0 !important;
    						}
						}						
					}
				}
			}
		}
		.my_work{
			height: 1013px;
			width:100%;//width:1200px;
			.row{
				width:100%;//width:1200px;
				height: 1013px;
				margin-left: 0;
				margin-right:0;
				.col-md-12{
					margin-top: 30px;
					text-align: center;
					h1{
						.GeB;
						font-size:45px;
						color:#fff;
					}
					span{
						.OpenSRe;
						font-size:18px;
						color:#fff;
					}
				}
				.pictures_panel{
					height: 825px;
					padding-left: 0;
					padding-right: 0;
					background:url("/img/my_work.png") no-repeat;
					background-position: center;
    				background-position-y: inherit;
				}
			}
		}
		.feed_back{
			width:100%;//width:1200px;
			min-height:540px;
			background:#fff;
			.row{
				width:100%;
				margin-right: 0px;
    			margin-left: 0px;
    			.col-md-12{
    				padding-left: 0;
    				padding-right: 0;
					.slide{
						min-height:540px;
						.carousel-indicators li{
							border-color: red;
						}
						.carousel-indicators .active{
							background-color:red;
						}
						.carousel-inner{
							.item{
								margin: 0 auto;
		    					text-align: center;
		    					height:500px;
		    					h1{
		    						margin-top: 75px;
		    						.GeB;
		    						font-size:45px;
		    						color:#000;
		    					}
		    					span{
		    						.GeB;
		    						font-size:24px;
		    						color:#000;
		    					}
		    					img{
		    						display: block;
		    						margin: 0 auto;
		    						margin-top: 55px;
		    					}
		    					p{
		    						margin-top: 30px;
		    						.OpenSBo;
		    						font-size:18px;
		    						color:#000;
		    					}
		    					.tetx_fed_foot{
		    						.OpenSRe;
		    						font-size:18px;
		    						color:#383838;
		    					}
							}
						}
						.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
							    color: #e40d18;
						}
						.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{
							 color: #e40d18;
						}
					}
				}
			}
		}
		.uncover_your_charisma{
			width:100%;//width:1200px;
			min-height:635px;
			.row{
				width:100%;//width:1200px;
				min-height:635px;
				margin-left: 0;
				margin-right: 0;
				.col-md-12{
					min-height:635px;
					margin-top: 45px;
					text-align: center;
					color:#fff;
					h1{
						.GeB;
						font-size:33px;
					}
					.info_gift{
						margin-top: 45px;
						span{
							.GeB;
							font-size:24px;
						}
					}
					p{
						margin-top: 45px;
						.OpenSRe;
    					font-size:18px;
					}
					form{
						width: 50%;
    					margin: 0 auto;
						margin-top: 65px;
						.form-control{
							.OpenSIt;
							font-size:18px;
							width: 60%;
   							margin: 0 auto;
							margin-top: 45px;
							background-color: #1b1b1b;
    						border-left: none;
						    border-right: none;
						    border-top: none;
						    border-radius: 0px;
						   box-shadow:none;
						   transition: none;

						}
					}
					.vant_tatto{
						margin-top: 50px;
						h2{
							
						}
						.btn{
							width: 10%;
	    					margin-top: 25px;
							text-align: center;
							padding:15px 35px;
							background-color: red;
							color:#fff;
							border-radius:50px;
							outline: 0 !important;
	    				}
					}
				}
			}
		}
	}
}
footer{
	min-height: 25px;
	text-align: center;
	h1{
		.OpenSRe;
    	font-size:18px;
	}
}


@media(max-width:1700px){
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:11%;
	}
}
@media (max-width:1440px) {
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:13%;
	}
}
@media(max-width:1100px){
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:17%;
	}
}
@media(max-width:1078px){
	main .container .abaut_me .row .col-md-12 .my_advantages .questions{
		margin-top: 120px;
	}
}
@media(max-width:1074px){
	main .container .abaut_me .row .col-md-12 .my_advantages .questions{
		margin-top: 72px;
	}
	
}
@media(max-width:1050px){
	main .container .abaut_me .row .col-md-12 .col-md-6{
		padding-left: 25px;
	}
}
@media(max-width:1005px){
	main .container .abaut_me .row .col-md-12 .col-md-6{
		padding-left: 15px;
	}
}

@media(max-width:991px){
	main .container .abaut_me .row .col-md-12 .col-md-6{
		width: 100%;
    	text-align: center;
	}
	main .container .abaut_me .row .col-md-12 .col-md-6 p{
		 width: 50%;
    	margin: 0 auto;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:18%;
	}
}
@media(max-width:800px){
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width: 25%;
	}
}
@media(max-width:759px){
	main .container .abaut_me .row .col-md-12 .col-md-6 p{
		width:75%;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:30%;
	}
}
@media(max-width:703px){
	main .container .abaut_me .row .col-md-12 .my_advantages .questions{
		margin-top: 30px;
	}
}
@media(max-width:600px){
	main .container .uncover_your_charisma .row .col-md-12 form .form-control{
		width:70%;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:33%;
	}
}
@media(max-width:564pc){
	main .container .abaut_me .row .col-md-12 .col-md-6{
		background-position-x: center;
	}
}
@media(max-width:511px){
	main .container .abaut_me .row .col-md-12 .col-md-6 p{
		width:auto;
	}
	main .container .abaut_me .row .col-md-12 .my_advantages .small_table .left_b{
		margin-right: 120px;
	}
}
@media(max-width:450px){
	main .container .uncover_your_charisma .row .col-md-12 form .form-control{
		width:90%;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:45%;
	}
}
@media(max-width:447px){
	main .container .abaut_me .row .col-md-12 .my_advantages .small_table .left_b{
		margin-right: 70px;
	}
	
	main .container .uncover_your_charisma .row .col-md-12 form{
		margin-top: 50px;
	}
	main .container .uncover_your_charisma .row .col-md-12 form .form-control{
		width:90%;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto{
		margin-top: 30px;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:40%;
	}
}
@media(max-width:413px){
	main .container .abaut_me .row .col-md-12 .my_advantages .questions{
		margin-top:0px;
	}
}




@media(max-width:368px){
	main .container .abaut_me .row .col-md-12 .my_advantages h1{
		font-size:35px;
	}
	main .container .abaut_me .row .col-md-12 .my_advantages p{
		font-size:17px;
	}
}
@media(max-width:320px){
	header .who .info_header h1{
		font-size:45px;
	}
	header .who .info_header .new_s{
		font-size:20px;
	}
	header .who .info_header span{
		font-size:15px;
	}
	main .container .abaut_me .row .col-md-12 .col-md-6 h1{
		font-size:45px;
	}
	main .container .abaut_me .row .col-md-12 .col-md-6 p{
		font-size:15px;
	}
	main .container .abaut_me .row .col-md-12 .my_advantages h1{
		font-size:28px;
	}
	main .container .abaut_me .row .col-md-12 .my_advantages p{
		font-size:15px;
	}
	main .container .abaut_me .row .col-md-12 .my_advantages .questions{
		margin-top: 72px;
	}
	main .container .abaut_me .row .col-md-12 .my_advantages .questions span{
		font-size:20px;
	}
	main .container .my_work .row .col-md-12 h1{
		font-size:40px;
	}
	main .container .my_work .row .col-md-12 span{
		font-size:15px;
	}
	main .container .my_work .row .col-md-12{
		margin-top: 0px;
	}

	main .container .feed_back .row .col-md-12 .slide .carousel-inner .item h1{
		font-size:40px;
	}
	main .container .feed_back .row .col-md-12 .slide .carousel-inner .item span{
		font-size:20px;
	}
	main .container .uncover_your_charisma .row .col-md-12 h1{
		font-size:25px;
	}
	main .container .uncover_your_charisma .row .col-md-12 .info_gift span{
		font-size:16px;
	}
	main .container .uncover_your_charisma .row .col-md-12 form .form-control{
		width:100%;
	}
	main .container .uncover_your_charisma .row .col-md-12 .vant_tatto .btn{
		width:60%;
	}





}
